
<!--
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container">

  <div class="navbar-brand">
    <h1 class="text-white">AyDrive</h1>
    <h4 class="text-white">Plataforma de almacenamiento de archivos en la nube</h4>
  </div>


  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      --
        <button class="btn btn-secondary">
          <a class="nav-link text-white" routerLink="/iniciosesion" routerLinkActive="active">Comenzar a interactuar</a>
        </button>
      --

      </li>
    </ul>
  </div>

</div>
</nav>
-->
<div class="jumbotron jumbotron-fluid  text-white text-center" style="background-color:peru">
  <div class="container">
      <h1 class="display-1">Bienvenido a AyDrive</h1>
      <p class="lead">Plataforma de almacenamiento de archivos en la nube...</p>
  </div>
  
</div>

<body>

  <router-outlet></router-outlet>
</body>


